body {
font-family: 'Fondamento', Georgia, 'Times New Roman', serif, cursive;  

font-weight: bold;
text-align: center;
vertical-align:center;
line-height: 36px; 
color: purple; 
background-color: black;
font-size: 2p;
font-weight: bold;
       
    }
    
